# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend-react/node_modules
/.pnp
.pnp.js
backend-django/api/__pycache__/
backend-django/backend/__pycache__/
/backend-django/course_register_fe/__pycache__/
/backend-django/courses_be/__pycache__/
/backend-django/schedule_courses_be/__pycache__/
/backend-django/payment/__pycache__/
*/migrations
/.idea

# testing
/coverage
*.__pycache__
*.migrations
*.pyc

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
